<div id="show" class="main">
  <div class="headers-inline">
    <h1><%= @title %></h1>
    <%= link_to edit_article_path do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>

    <%= link_to article_path, method: :delete do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </div>
  <p> <%= @content %> </p>

</div>
